/*
    logo blue : #475ea2;
    logo green: #b9cf35;
 */

body {
    margin: 0;
    padding: 0;
}

#container {
    max-width:1200px;
    margin: 0 auto;
    color:#333;
    padding:1em;
}


/* header */
header {
    max-width:1200px;
    height:105px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:0 0 1em 0;
    border-bottom:solid 4px #b9cf35;
}

.logo {
    height:101px;
}

#title {
    width:500px;
}

h1,
h2 {
    font: 2.5em "Open Sans", sans-serif;
    text-align:right;
    text-transform:uppercase;
    margin: 0;
    line-height: 1.0;
}

h2 {
    font: 1.5em "Open Sans", sans-serif;
    color: #475ea2;
}

@media screen and (max-width:500px) {
    h1 {
        font-size:1.75em;
    }
    h2 {
        font-size:1.25em;
    }
}

/* main */

#jumbotron {
    margin:1em 0;
}

.jumbotron {
    width:100%;
}

@media screen and (max-width:750px) {
    #jumbotron {
        margin: 1em -1em; /* make img full blend */
    }
}

/* portfolio */

h3 {
    font: 2.0em "Open Sans", sans-serif;
    color: #475ea2;
    text-transform: uppercase;
    margin:0;
    line-height: 1.0;
}

#portfolio {
    width:100%;
    font: 1em "Cardo", serif;
    text-align: justify;
}
.portfolio-image {
    width:100%;
    max-width:600px;
}

#three-items {
    display:flex;
    justify-content: space-between;
}

#three-items--left,
#three-items--middle,
#three-items--right {
    width:100%;
    margin: 1em 0em;
}
#three-items--middle {
    margin: 1em;
}
h4 {
    text-align: center;
    font: 1.5em "Open Sans", sans-serif;
    text-transform: uppercase;
    margin:0;
    line-height: 1.0;
}
h4 a {
    color: #333;
    text-decoration: none;
}
h4 a:hover,
h4 a:focus{
    color: #b9cf35;
    border-bottom:2px solid #b9cf35;
}

@media screen and (max-width:750px) {
    #three-items {
        flex-direction: column;
    }
    #three-items--left,
    #three-items--middle,
    #three-items--right {
        max-width:600px;
        margin: 1em auto;
    }
}

